.blog{
    height: fit-content;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.blog-image{
    height: 70%;
    width: 100%;
    overflow: hidden;
}

.blog-image img{
    width: 100%;
}

.blog-texts{
    padding: 10px 15px;
    height: 25%; 
}

.blog-texts button:hover{
    background-color: #A47A00;
    color: white;
    border: 1px solid #A47A00;
}

.questions-header{
    width: 300px;
}

.accordion{
    width: 800px;
}

.service{
    height: 270px;
    width: 300px;
    padding: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.services-list li{
    list-style-type: disc;
}

.services-body{
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.section-header{
}

.service-with-img{
    max-height: 450px;
    width: 30%;
    overflow: hidden;
}

.service-with-img img{
    width: 100%;
}

.service-image{
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.service-header{
    font-size: 20px;
    color: #A47A00;
    margin-bottom: 10px;
}

input{
    height: 45px;
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid rgb(201, 201, 201);
}

textarea{
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid rgb(201, 201, 201);
}

.send-mail{
    height: 45px;
    border-radius: 7px;
    width: 200px;
    margin-top: 10px;
    border: none;
    background-color: #A47A00;
    color: white;
}

.footer1{
    width: 360px;
}

.footer-category{
    width: 250px;
}

.footer-category p{
    color: grey;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-category p:hover{
    color: black;
}

.link a{
    color: grey;
}

.link{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook{
    color: rgb(0, 115, 255);
}

.whatsapp{
    color: rgb(0, 161, 0);
}

.linkedin{
    color: rgb(0, 115, 255);
}

.link.facebook{
    border: 1px solid rgb(0, 115, 255);
}

.link.linkedin{
    border: 1px solid rgb(0, 115, 255);
}

.link.whatsapp{
    border: 1px solid rgb(0, 161, 0);
}

@media only screen and (min-width: 1024px){
    .blog{
        width: 30%;
    }
}

@media only screen and (min-width: 769px){
    .services-section{
        position: relative;
        top: 60px;
    }
    .blogs-section{
        position: relative;
        top: 60px;  
    }
}

@media only screen and (max-width: 1024px){
    .service-with-img{
        width: 48.5%;
    }
    .section-header{
        width: 100%;
    }
    .blog{
        width: 49%;
    }
}

@media only screen and (max-width: 560px){
    .service-with-img, .section-header{
        width: 90%;
    }
    .blog{
        width: 90%;
    }
}